@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #0C141A;
    --blue-dark: #28487B;
    --blue-main: #4468A6;
    --blue-light: #6E94CF;
    --text: #B9CDEE;
    --text-strong: #f4ffab;
    --choice: #c7ff86;
    --choosen: #00ee38;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
}

h1 {
    color: var(--blue-light);
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

p {
    color: var(--text);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

strong {
    font-weight: 400;
    color: var(--text-strong);
}

main {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: auto;
}

.story {
    max-width: 40%;
    height: 100vh;
    overflow-y: auto;
    padding: 55px 10px;

    scrollbar-width: thin;
    scrollbar-color: var(--blue-light) var(--background);
}

button {
    background-color: transparent;
    color: var(--choice);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    border: none;
    text-align: start;
    padding: 0;
    padding-bottom: 8px;
}

button:hover {
    color: var(--choosen);
    font-weight: 800;
}

.player-choice {
    color: var(--choosen);
}

nav {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--text-strong);
    font-family: 'Courier New', Courier, monospace;
}

.choice-container {
    display: flex;
    flex-direction: column;
}

.robot {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    height: 90vh;
    width: 25vw;
}

@media (max-width: 768px) {

    .story {
        max-width: 95%;
    }
    .robot{display: none;}
}